hr {
    height: 1px;
    background-color: skyblue;
}

body {
    font-family: "Raleway";
    background-color: black;
    color: white;
}
/* Navbar */
nav{
    background-color: transparent;
}
.navbar-brand{
    font-size: 20px;
    font-family: "Raleway";
    font-weight: bold;

}

.columnas {
    background-color: skyblue;
    padding: 8px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
}

#Destacados .card {
    background-color: skyblue;
    color: white;
    border-color: grey;
}

.card-img{
    height: 10rem;
}