hr {
    height: 1px;
    background-color: rgba(0, 255, 255, 0.726);
}

body {
    font-family: "Raleway";
    background-color: black;
    color: white;
}

.popover {
    color: red!important;
}

/* Navbar */
nav{
    background-color: transparent;
}
.navbar-brand{
    font-size: 20px;
    font-family: "Raleway";
    font-weight: bold;

}

.columnas {
    background-color: rgba(0, 255, 255, 0.726);
    padding: 8px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: white;
}

#Destacados .card {
    background-color: rgba(0, 255, 255, 0.726);
    color: white;
    border-color: grey;
}
/* se iguala tamaño de cards */
.card-img{
    height: 10rem;
}
/* Contacto */
#Contacto{
  
}

/* Footer */
#footer {
    background-color: rgba(0, 255, 255, 0.726);
}

#footer a {
    color: white;
}